.container {
  height: 100%;
}

.nav-link {
  position: relative;
  padding-top: 0px;
  padding-bottom: 10px;
}

.nav-menu {
  position: relative;
  top: 50px;
  margin-top: 30px;
  background-color: transparent;
}

.navbar {
  width: 100px;
}

.container-2 {
  background-color: #fff;
  color: #fff;
}

.text-block {
  font-family: helvetica, arial, sans-serif;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6.26em;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: -6px;
}

.column {
  margin-top: 0px;
}

.div-block {
  margin-top: 46px;
  margin-bottom: 46px;
}

.divider-short {
  position: relative;
  left: 11%;
  right: 12%;
  display: block;
  width: 80%;
  height: auto;
  margin: 30px auto;
  padding-bottom: 0px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-width: 80%;
  border-bottom-style: solid;
  border-bottom-color: hsla(0, 0%, 53%, .73);
  background-color: #757575;
  text-align: center;
}

.row {
  border-bottom: 1px solid #000;
}

.toc {
  position: static;
  right: 0px;
  bottom: -100px;
  display: inline;
  width: 150px;
  margin: 0px;
  padding: 0px;
  float: right;
  clear: none;
}

.div-block-3 {
  position: relative;
  display: block;
  max-width: 550px;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ordered-list {
  margin: 0px;
  padding: 0px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.75rem;
}

.list-item {
  position: relative;
  left: 0px;
  clear: none;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 65px;
  padding-left: 65px;
  float: none;
  clear: both;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.index-about-and-lists {
  display: block;
}

.activity {
  width: 65%;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 0px;
}

.index-about {
  margin-bottom: 1px;
}

.index-articles {
  padding-top: 0px;
}

.div-block-5 {
  margin: 30px 20px 2px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.activity-section {
  width: 100%;
  padding-left: 0px;
}

.index-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -4px;
}

.unordered-list {
  padding-left: 0px;
  list-style-type: none;
}

.index-article-heading {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0px;
  font-size: 1.3rem;
}

.link {
  color: #000;
}

.body {
  margin-top: 41px;
}

.div-block-6 {
  margin-bottom: 11px;
}

.content {
  display: inline-block;
}

.article {
  display: inline;
  margin-top: 38px;
}

.div-block-7 {
  overflow: visible;
}

@media (max-width: 991px) {
  .activity {
    margin-right: 2px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .nav-menu {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .navbar {
    width: 100%;
  }
  .div-block-5 {
    margin-bottom: 30px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .bold-text {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .nav-menu {
    display: block;
    overflow: visible;
    margin-bottom: 20px;
    padding-bottom: 0px;
    float: none;
  }
  .text-block {
    line-height: 0.9em;
  }
  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}