{{ partial "header.html" . }}
<body>
    <div class="div-block-4">
    <div class="div-block-5 w-clearfix">
      <div class="index-about">
        <!-- TODO make the headers on this page links to more detailed version of each. -->
        <h1 class="index-heading">About</h1>
        <div id="index-about-stub">My name is Ishaan Varshney. I&#x27;m a software and machine learning engineer from <a href="/sydney" class="link">Sydney, Australia</a>.
        <br>
        <br>
        Here I try to document and share thoughts and resources for the benefit of myself and (hopefully) others.</div>
      </div>
      <div class="divider-short"></div>
      <div class="index-articles">
        <h1 class="index-heading">Articles</h1>
        <div id="index-article-stub" class="index-article-stub">
          <ul class="unordered-list">
           {{ range .Data.Pages.ByPublishDate }}
                {{ if eq .Section "articles" }}
                    <li>
                    <h1 class="index-article-heading"><a class="index-article-link" href="{{ .Permalink }}"><span>{{ .Title }}</span></a></h1>
                    <p class="index-article-subtitle">{{ .Params.stub }}</p>
                    </li>
                {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="activity w-clearfix">
      <div class="activity-section">
        <h1 class="index-heading">Now</h1>
        <div id="index-activity-layout">
          <ul>
            <li>In my final year of the masters program in a<a href="http://www.handbook.unsw.edu.au/postgraduate/plans/2018/COMPAS8543.html">artificial intelligence at UNSW</a></li>
            <li>Conducting network analysis and graph theory research at BVN architecture</li>
            <li>Teaching the design <a href="http://notionparallax.co.uk/CODE1161/2017-01-01-1161-outline" class="link">computing course at UNSW in semester 1, 2018</a></li>
            <li>Experiment with deep learning on various problems. Most recently with sentiment analysis of large texts.</li>
          </ul>
        </div>
      </div>
      <div class="divider-short"></div>
      <div id="acit" class="activity-section">
        <h1 class="index-heading"><br>Activity</h1>
        <div id="index-activity-layout"></div>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>