{{ partial "header.html" . }}

<body class="body-2">
    <div class="container w-container">
        <div class="row w-row">
            <div class="w-col w-col-2">
                <div data-collapse="none" data-animation="default" data-duration="400" class="navbar w-nav">
                    <div class="container-2 w-container"><a href="#" class="w-hidden-small w-hidden-tiny w-nav-brand"></a>
                        {{ partial "nav.html" . }}
                        <div class="w-nav-button">
                            <div class="w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-col w-col-1"></div>
            <div class="column w-col w-col-9">
                <div id="title" class="div-block">
                    <h1 class="text-block">{{ .Title }}</h1>
                </div>
                <div class="index-articles">
                    <div id="index-article-stub" class="index-article-stub">
                        <ul class="unordered-list">
                            {{ range .Data.Pages.ByPublishDate }} {{ if eq .Section "articles" }}
                            <li>
                                <h1 class="index-article-heading"><a class="index-article-link" href="{{ .Permalink }}"><span>{{ .Title }}</span></a></h1>
                                <p class="index-article-subtitle">{{ .Params.stub }}</p>
                            </li>
                            {{ end }} {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{{ partial "footer.html" . }}